[Desktop Entry]
Name=FireCraft
Terminal=false
Exec=/usr/bin/env sh -c "[ -f ~/.minecraft/launcher/FireCraft ] && exec ~/.minecraft/launcher/FireCraft || exec ~/.minecraft/launcher/firecraft"
Type=Application
Categories=Game;
